
{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<div class="search-menu">

	<form class="serach-menu" action="/{{ last_category }}/search-product" method="get">
	<br><button class="button-search" type="submit">Показать</button><a href="/">Сбросить</a>
<!--	{{ filter.form.as_p }}-->
		<details {{ details_status.price }} class="menu-details">
		<summary>Цена</summary>

		<div class="filters-price__slider" id="range-slider-price"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text1">от</span>
					{% render_field filter.form.price__gt class="filters-price__input" placeholder="500" id="input-price-0" %}
				<span class="filters-price__text">&nbsp&nbsp&nbsp₽</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text1">до</span>
					{% render_field filter.form.price__lt class="filters-price__input" placeholder="299999" id="input-price-1" %}
				<span class="filters-price__text">&nbsp&nbsp&nbsp₽</span>
				</label>
			</div>
		</details>


		<details {{ details_status.manufacturer }} class="menu-details">
		<summary>Производитель</summary>
		 {% render_field filter.form.manufacturer %}
		</details>





	<button class="button-search" type="submit">Показать</button>
	<a href="/lodki/">Сбросить</a>
	</form>
</div>
<div class="block-results">

	<div class="cat-tags-block">
<!--		{% for cat in category_cats %}-->
<!--		<div class="cat-tag"><a href="{{ cat.get_absolute_url }}">{{ cat.description }}</a></div>-->
<!--		{% endfor %}-->
	</div>
	<div class="cat-tags-block">
		{% for cat in cat_url_list %}
		<div class="cat-urls-list"><a href="{{ cat.get_absolute_url }}">/{{ cat.name }}</a></div>
		{% endfor %}
	</div>
	<div class="sort_filter">
<!--	Сортировка: <a href="#">По алфавиту</a><a href="#">По цене+</a>   <a href="#">По цене-</a>-->
	</div>

	<div class="product-container">
	{% for product in filter.qs %}
	<div class="product-display-lodki">

		<div class="prod-display-lodki-inside-img">
			{% if product.image %}
			<a href="{{ product.slug }}"><img class="product-display-img" src="/media/{{ product.image }}"></a>
			{% endif %}
		</div>


		<div class="prod-display-lodki-inside-text">
			<div class="product-lodki-text1">
				<a href="{{ product.slug }}"><h2>{{ product.name }}</h2></a>


				<div class="text-characteristics-name">Производитель:................................................................................................</div>
				<div class="text-characteristics">{{ product.manufacturer }}</div>
			</div>
		</div>

		<div class="prod-display-lodki-inside-price">
			<p>Цена: <font size="5">{{ product.price }}</font> руб.</p>
		</div>
		<div class="prod-display-lodki-inside-price">
			<form action="/contacts/">
			<input class="button-search" type="submit" value="Заказать">
			</form>
		</div>



	</div>


		<!--<div class="product-display-lodki">

			<div class="prod-display-lodki-inside-img">
				{% for prodimg in product.prodimg.all %}
			<a href="{{ product.slug }}"><img class="product-display-img" src="{{ prodimg.image.url }}" alt="продукт"></a>
				{% endfor %}
			</div>

			<div class="prod-display-lodki-inside-text"><p><a href="{{ product.slug }}">{{ product.name }}</a></p>
				<p>Производитель: {{ product.manufacturer }}</p>
				<p>Длина (см): {{ product.length }}</p>
				<p>Ширина (см): {{ product.width }}</p>
				<p>Длина кокпита: {{ product.cockpit_length }}</p>
				</div>

			<div class="prod-display-lodki-inside-price"><p>Цена: {{ product.price }} руб.</p>
			<p><input type="submit" value="Купить"><input type="submit" value="Сравнить"></p>
			</div>

		</div> -->
	{% endfor %}
	</div>

</div>
<script src="{% static 'shop/js/nouislider.min.js' %}"></script>
<script src="{% static 'shop/js/range-slider-func-search-product.js' %}"></script>
{% endblock %}