
{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
{{ last_category }}
{% load widget_tweaks %}
<div class="search-menu">

	<form class="serach-menu" action="/search" method="get">
	<br><button class="button-search" type="submit">Показать</button>
<!--	{{ filter.form.as_p }}-->
		<h3 class="filters-price__title">Цена</h3>
		<div class="filters-price__slider" id="range-slider-price"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.price__gt class="filters-price__input" placeholder="500" id="input-price-0" %}
				<span class="filters-price__text">&nbsp&nbsp&nbsp₽</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.price__lt class="filters-price__input" placeholder="299999" id="input-price-1" %}
				<span class="filters-price__text">&nbsp&nbsp&nbsp₽</span>
				</label>
			</div>

		<h3 class="filters-price__title">Длинна</h3>
			<div class="filters-price__slider" id="range-slider-length"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.length__gt class="filters-price__input" placeholder="0" id="input-length-0" %}
				<span class="filters-price__text">СМ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.length__lt class="filters-price__input" placeholder="600" id="input-length-1" %}
				<span class="filters-price__text">СМ</span>
				</label>
			</div>

				<h3 class="filters-price__title">Ширина</h3>
			<div class="filters-price__slider" id="range-slider-width"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.width__gt class="filters-price__input" placeholder="0" id="input-width-0" %}
				<span class="filters-price__text">СМ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.width__lt class="filters-price__input" placeholder="250" id="input-width-1" %}
				<span class="filters-price__text">СМ</span>
				</label>
			</div>

		<h3 class="filters-price__title">Длинна кокпита</h3>
			<div class="filters-price__slider" id="range-slider-cockpit-length"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.cockpit_length__gt class="filters-price__input" placeholder="0" id="input-cockpit-length-0" %}
				<span class="filters-price__text">СМ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.cockpit_length__lt class="filters-price__input" placeholder="800" id="input-cockpit-length-1" %}
				<span class="filters-price__text">СМ</span>
				</label>
			</div>

		<h3 class="filters-price__title">Ширина кокпита</h3>
			<div class="filters-price__slider" id="range-slider-cockpit_width"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.cockpit_width__gt class="filters-price__input" placeholder="0" id="input-cockpit-width-0" %}
				<span class="filters-price__text">СМ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.cockpit_width__lt class="filters-price__input" placeholder="250" id="input-cockpit-width-1" %}
				<span class="filters-price__text">СМ</span>
				</label>
			</div>


		<h3 class="filters-price__title">Грузоподъемность</h3>
			<div class="filters-price__slider" id="range-slider-load-capacity"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.load_capacity__gt class="filters-price__input" placeholder="0" id="input-load-capacity-0" %}
				<span class="filters-price__text">КГ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.load_capacity__lt class="filters-price__input" placeholder="2500" id="input-load-capacity-1" %}
				<span class="filters-price__text">КГ</span>
				</label>
			</div>

		<h3 class="filters-price__title">Вес лодки</h3>
			<div class="filters-price__slider" id="range-slider-boat-weight"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.boat_weight__gt class="filters-price__input" placeholder="0" id="input-boat-weight-0" %}
				<span class="filters-price__text">КГ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.boat_weight__lt class="filters-price__input" placeholder="1500" id="input-boat-weight-1" %}
				<span class="filters-price__text">КГ</span>
				</label>
			</div>

		<h3 class="filters-price__title">Вес полного комплекта</h3>
			<div class="filters-price__slider" id="range-slider-complete-set-weight"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.complete_set_weight__gt class="filters-price__input" placeholder="0" id="input-complete-set-weight-0" %}
				<span class="filters-price__text">КГ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.complete_set_weight__lt class="filters-price__input" placeholder="1500" id="input-complete-set-weight-1" %}
				<span class="filters-price__text">КГ</span>
				</label>
			</div>

		<h3 class="filters-price__title">Макс. мощность мотора</h3>
			<div class="filters-price__slider" id="range-slider-maximum-motor-power"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.maximum_motor_power__gt class="filters-price__input" placeholder="0" id="input-maximum-motor-power-0" %}
				<span class="filters-price__text">ЛС</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.maximum_motor_power__lt class="filters-price__input" placeholder="300" id="input-maximum-motor-power-1" %}
				<span class="filters-price__text">ЛС</span>
				</label>
			</div>


		<h3 class="filters-price__title">Плотность ткани борта</h3>
			<div class="filters-price__slider" id="range-slider-fabric-thickness-side"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.fabric_thickness_side__gt class="filters-price__input" placeholder="0" id="input-fabric-thickness-side-0" %}
				<span class="filters-price__text">г/м²</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.fabric_thickness_side__lt class="filters-price__input" placeholder="2000" id="input-fabric-thickness-side-1" %}
				<span class="filters-price__text">г/м²</span>
				</label>
			</div>

		<h3 class="filters-price__title">Плотность ткани дна</h3>
			<div class="filters-price__slider" id="range-slider-fabric-thickness-bottom"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.fabric_thickness_bottom__gt class="filters-price__input" placeholder="0" id="input-fabric-thickness-bottom-0" %}
				<span class="filters-price__text">г/м²</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.fabric_thickness_bottom__lt class="filters-price__input" placeholder="2000" id="input-fabric-thickness-bottom-1" %}
				<span class="filters-price__text">г/м²</span>
				</label>
			</div>


				<h3 class="filters-price__title">Количество надувных отсеков</h3>
			<div class="filters-price__slider" id="range-slider-inflatable-compartments"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.inflatable_compartments__gt class="filters-price__input" placeholder="0" id="input-inflatable-compartments-0" %}
				<span class="filters-price__text">ШТ</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.inflatable_compartments__lt class="filters-price__input" placeholder="15" id="input-inflatable-compartments-1" %}
				<span class="filters-price__text">ШТ</span>
				</label>
			</div>

						<h3 class="filters-price__title">Пассажировместимость</h3>
			<div class="filters-price__slider" id="range-slider-passenger-capacity"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text">от</span>
					{% render_field filter.form.passenger_capacity__gt class="filters-price__input" placeholder="0" id="input-passenger-capacity-0" %}
				<span class="filters-price__text">Чел</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text">до</span>
					{% render_field filter.form.passenger_capacity__lt class="filters-price__input" placeholder="15" id="input-passenger-capacity-1" %}
				<span class="filters-price__text">Чел</span>
				</label>
			</div>

		<h3 class="filters-price__title">Производитель</h3> {% render_field filter.form.manufacturer %}
		<h3 class="filters-price__title">Тип дна</h3> {% render_field filter.form.category %}
		<h3 class="filters-price__title">Фальшборт</h3> {% render_field filter.form.bulwark %}
		<h3 class="filters-price__title">Киль</h3> {% render_field filter.form.keel %}





	<button class="button-search" type="submit">Показать</button>
	</form>
</div>
<div class="block-results">

	<div class="cat-tags-block">
		{% for cat in category_cats %}
		<div class="cat-tag"><a href="{{ cat.get_absolute_url }}">{{ cat.description }}</a></div>
		{% endfor %}
	</div>
	<div class="cat-tags-block">
		{% for cat in cat_url_list %}
		<div class="cat-urls-list"><a href="{{ cat.get_absolute_url }}">/{{ cat.name }}</a></div>
		{% endfor %}
	</div>
	<div class="sort_filter">
<!--	Сортировка: <a href="#">По алфавиту</a><a href="#">По цене+</a>   <a href="#">По цене-</a>-->
	</div>


	{% for product in filter.qs %}
	<div class="product-display-lodki">
		<div class="prod-display-lodki-inside-img">
					{% for prodimg in product.prodimg.all %}
			<a href="{{ product.slug }}"><img class="product-display-img" src="{{ prodimg.image.url }}" alt="продукт"></a>
					{% endfor %}
		</div>

		<div class="prod-display-lodki-inside-text">
			<div class="product-lodki-text1">
			<a href="{{ product.slug }}"><h2>{{ product.name }}</h2></a>
			<h3>Характеристики:</h3>
		Производитель: {{ product.manufacturer }}
		<br>Тип дна: {{ product.category }}
		<br>Длинна (см): {{ product.length }}
		<br>Ширина (см): {{ product.width }}
		<br>Длинна кокпита (см): {{ product.cockpit_length }}
		<br>Ширина кокпита (см): {{ product.cockpit_width }}
		<br>Диаметр борта (см): {{ product.cylinder_diameter }}
		<br>Плотность ткани борта (г/м²): {{ product.fabric_thickness_side }}
		<br>Плотность ткани дна (г/м²): {{ product.fabric_thickness_bottom }}
			</div>
			<div class = "product-lodki-text2">
		<br>Кол-во надувных отсеков: {{ product.inflatable_compartments }}
		<br>Грузоподъемность (кг): {{ product.load_capacity }}
		<br>Пассожировместимость (чел): {{ product.passenger_capacity }}
		<br>Макс мощность мотора (лс): {{ product.maximum_motor_power }}
		<br>Вес лодки (кг): {{ product.boat_weight }}
		<br>Вес полного комплекта кг: {{ product.complete_set_weight }}
		<br>Фальшборт: {{ product.bulwark|yesno:"Да,Нет" }}
		<br>Киль: {{ product.keel|yesno:"Да,Нет" }}
		<br>Габариты упаковки(Д*Ш*В): {{ product.upak }}
			</div>
		</div>

		<div class="prod-display-lodki-inside-price">
			<p>Цена: {{ product.price }} руб.</p>
			<form action="/contacts/">
			<input class="button-search" type="submit" value="Заказать">
			</form>
		</div>



	</div>


		<!--<div class="product-display-lodki">

			<div class="prod-display-lodki-inside-img">
				{% for prodimg in product.prodimg.all %}
			<a href="{{ product.slug }}"><img class="product-display-img" src="{{ prodimg.image.url }}" alt="продукт"></a>
				{% endfor %}
			</div>

			<div class="prod-display-lodki-inside-text"><p><a href="{{ product.slug }}">{{ product.name }}</a></p>
				<p>Производитель: {{ product.manufacturer }}</p>
				<p>Длинна (см): {{ product.length }}</p>
				<p>Ширина (см): {{ product.width }}</p>
				<p>Длинна кокпита: {{ product.cockpit_length }}</p>
				</div>

			<div class="prod-display-lodki-inside-price"><p>Цена: {{ product.price }} руб.</p>
			<p><input type="submit" value="Купить"><input type="submit" value="Сравнить"></p>
			</div>

		</div> -->
	{% endfor %}

</div>
<script src="{% static 'shop/js/nouislider.min.js' %}"></script>
<script src="{% static 'shop/js/range-slider-func.js' %}"></script>
{% endblock %}