
{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<div class="search-menu">

	<form class="serach-menu" action="/{{ last_category }}/search-product" method="get" name="{{ last_category }}">
	<br><button class="button-search" type="submit">Показать</button>
<!--	{{ filter.form.as_p }}-->
		<details open class="menu-details">
		<summary>Цена</summary>

		<div class="filters-price__slider" id="range-slider-price"></div>
			<div class="filters-price__inputs">
				<label class="filters-price__label">
				<span class="filters-price__text1">от</span>
					{% render_field filter.form.price__gt class="filters-price__input" placeholder="500" id="input-price-0" %}
				<span class="filters-price__text">&nbsp&nbsp&nbsp₽</span>
				</label>
				<label class="filters-price__label">
				<span class="filters-price__text1">до</span>
					{% render_field filter.form.price__lt class="filters-price__input" placeholder="299999" id="input-price-1" %}
				<span class="filters-price__text">&nbsp&nbsp&nbsp₽</span>
				</label>
			</div>
		</details>


		<details class="menu-details">
		<summary>Производитель</summary>
		 {% render_field filter.form.manufacturer %}
		</details>






	<button class="button-search" type="submit">Показать</button>
	</form>
</div>
<div class="block-results">

<!--	<div class="cat-tags-block">-->
<!--		{% for cat in category_cats %}-->
<!--		<div class="cat-tag"><a href="{{ cat.get_absolute_url }}">{{ cat.description }}</a></div>-->
<!--		{% endfor %}-->
<!--	</div>-->
	<div class="cat-tags-block">
		<div class="cat-urls-list"><a href="https://neptun55.ru/">/ Главная</a></div>
		{% for cat in cat_url_list %}
		<div class="cat-urls-list"><a href="{{ cat.get_absolute_url }}">/ {{ cat.name }}</a></div>
		{% endfor %}
	</div>
	<div class="sort_filter">
<!--	Сортировка: <a href="#">По алфавиту</a><a href="#">По цене+</a>   <a href="#">По цене-</a>-->
	</div>


	{% for product in product_filter.qs %}
					<div class="product-display-lodki">
					{% if product.sale != 0 %}
					<div class="sale_block">
						СКИДКА {{ product.sale }} %
					</div>
					{% endif %}
					<div class="prod-display-lodki-inside-img">
						{% if product.image %}
						<a href="{{ product.slug }}"><img class="product-display-img" src="/media/{{ product.image }}"></a>
						{% endif %}
					</div>
					<div class="product-lodki-text1">
						<div class="cart-product-name">
						<a href="{{ product.slug }}"><h2>{{ product.name }}</h2></a>
						</div>
							<div class="text-characteristics-container">
						<div class="text-characteristics-name">Производитель:</div>
						<div class="text-characteristics">{{ product.manufacturer }}</div>
							</div>

					</div>

					<div class="price-sale-button-block">
						{% if product.sale != 0 %}
						<div class="prod-display-lodki-inside-price">
							Цена: <font size="5"> {{ product.get_sale }}</font> р.
						</div>
						<div class="prod-display-lodki-inside-price">
							<s><font color="#20B2AA">Цена: </font></s><font color="#20B2AA" size="5"><s>{{ product.price }}</s></font><font color="#20B2AA"><s> р.</s></font>
						</div>
						<div class="sale_block">
							-{{ product.sale }} %
						</div>

						{% else %}
						<div class="prod-display-lodki-inside-price">
							<p>Цена: <font size="5">{{ product.price }}</font> р.</p>
						</div>
						{% endif %}

						<div class="prod-display-lodki-inside-price">
							<form action="/contacts/">
							<input class="button-search" type="submit" value="Заказать">
							</form>
						</div>
					</div>
				</div>
	{% endfor %}

</div>
<script src="{% static 'shop/js/nouislider.min.js' %}"></script>
<script src="{% static 'shop/js/range-slider-func-product.js' %}"></script>
{% endblock %}