{% extends 'shop/base.html' %}
{% load static %}

{% block content %}


<div class="product-page-topblock">
    <h2 align="center" >{{ product.name }}</h2>
    <div class="flex__column">
        <div class="slider">
                {% for img in product.prodimg.all %}
            <div class="slider__item">
                <a data-fancybox="gallery" href="{{ img.image.url }}" ><img class="img-slider" src="{{ img.image.url }}" alt="продукт"/></a>

            </div>
                {% endfor %}
        </div>

            <div class="slider-nav">
                {% for img in product.prodimg.all %}
                <img class="img-slider" src="{{ img.image.url }}" alt="продукт">
                {% endfor %}
            </div>
        <center>
        <div class="price-product-lodki"><p>Цена: {{ product.price }} руб.</p></div>
        <div class="price-product-lodki">
            <form action="/contacts/">
            <input class="button-search" type="submit" value="Заказать">
            </form>
        </div>
        </center>
    </div>

    <div class="product_page_short_description_price">
<!--        <p align="center">{{ product.short_description}}</p>-->
                <div class="text-characteristics-name">Технические характеристики:</div>
                <div class="text-characteristics-name">Производитель:................................................................................................</div>
				<div class="text-characteristics">{{ product.manufacturer }}</div>
				<br><div class="text-characteristics-name">Тип дна:............................................................................................................</div>
				<div class="text-characteristics">{{ product.category }}</div>
				<br><div class="text-characteristics-name">Длина (см):............................................................................................................</div>
				<div class="text-characteristics">{{ product.length }}</div>
				<br><div class="text-characteristics-name">Ширина (см):............................................................................................................</div>
				<div class="text-characteristics">{{ product.width }}</div>
				<br><div class="text-characteristics-name">Длина кокпита (см):............................................................................................................</div>
				<div class="text-characteristics">{{ product.cockpit_length }}</div>
				<br><div class="text-characteristics-name">Ширина кокпита (см):............................................................................................................</div>
				<div class="text-characteristics">{{ product.cockpit_width }}</div>
				<br><div class="text-characteristics-name">Диаметр борта (см):............................................................................................................</div>
				<div class="text-characteristics">{{ product.cylinder_diameter }}</div>
				<br><div class="text-characteristics-name">Плотность ткани борта (г/м²):............................................................................................................</div>
				<div class="text-characteristics">{{ product.fabric_thickness_side }}</div>
				<br><div class="text-characteristics-name">Плотность ткани дна (г/м²):............................................................................................................</div>
				<div class="text-characteristics">{{ product.fabric_thickness_bottom }}</div>
				<br><div class="text-characteristics-name">Кол-во надувных отсеков:............................................................................................................</div>
				<div class="text-characteristics">{{ product.inflatable_compartments }}</div>
				<br><div class="text-characteristics-name">Грузоподъемность (кг):............................................................................................................</div>
				<div class="text-characteristics">{{ product.load_capacity }}</div>
				<br><div class="text-characteristics-name">Пассожировместимость (чел):............................................................................................................</div>
				<div class="text-characteristics">{{ product.passenger_capacity }}</div>
				<br><div class="text-characteristics-name">Макс мощность мотора (лс):............................................................................................................</div>
				<div class="text-characteristics">{{ product.maximum_motor_power }}</div>
				<br><div class="text-characteristics-name">Вес лодки (кг):............................................................................................................</div>
				<div class="text-characteristics">{{ product.boat_weight }}</div>
				<br><div class="text-characteristics-name">Вес полного комплекта кг:............................................................................................................</div>
				<div class="text-characteristics">{{ product.complete_set_weight }}</div>
				<br><div class="text-characteristics-name">Фальшборт:............................................................................................................</div>
				<div class="text-characteristics">{{ product.bulwark|yesno:"Да,Нет" }}</div>
				<br><div class="text-characteristics-name">Киль:............................................................................................................</div>
				<div class="text-characteristics">{{ product.keel|yesno:"Да,Нет" }}</div>
				<br><div class="text-characteristics-name">Габариты упаковки(Д*Ш*В):............................................................................................................</div>
				<div class="text-characteristics">{{ product.upak }}</div>
    </div>
</div>

<div class="content">
    <div class="tabs">
        <nav class="tabs__items">
            <a href="#tab_01" class="tabs__item"><span>ОПИСАНИЕ</span></a>
            <a href="#tab_02" class="tabs__item"><span>ХАРАКТЕРИСТИКИ</span></a>
            <a href="#tab_03" class="tabs__item"><span>ОТЗЫВЫ</span></a>
            <a href="#tab_04" class="tabs__item"><span>ВИДЕО</span></a>
        </nav>
        <div class="tabs__body">
            <div id="tab_01" class="tabs__block">
                {{ product.description|safe }}
            </div>
            <div id="tab_02" class="tabs__block">
                    Характеристики:
                <br> Производитель: {{ product.manufacturer }}
                <br> Цвет: {{ product.color }}
                <br> Тип дна: {{ product.category }}
                <br> Длинна см: {{ product.length }}
                <br> Ширина см: {{ product.width }}
                <br> Длинна кокпита см: {{ product.cockpit_length }}
                <br> Ширина кокпита см: {{ product.cockpit_width }}
                <br> Диаметр борта см: {{ product.cylinder_diameter }}
                <br> Плотность ткани борта (г/м²): {{ product.fabric_thickness_side }}
                <br> Плотность ткани дна (г/м²): {{ product.fabric_thickness_bottom }}
                <br> Количество надувных отсеков: {{ product.inflatable_compartments }}
                <br> Грузоподъемность кг: {{ product.load_capacity }}
                <br> Пассажировместимость чел: {{ product.passenger_capacity }}
                <br> Макс мощность мотора л.с.: {{ product.maximum_motor_power }}
                <br> Вес лодки кг: {{ product.boat_weight }}
                <br> Вес полного комплекта кг: {{ product.complete_set_weight }}
                <br> Фальшборт: {{ product.bulwark|yesno:"Да,Нет" }}
                <br> Киль: {{ product.keel|yesno:"Да,Нет" }}
                <br> Габариты упаковки(Д*Ш*В): {{ product.upak }}

            </div>

            <div id="tab_03" class="tabs__block">
                {% for review in product.prodreviews.all %}
                <br>{{ review.name }}
                <br>{{ review.text }}
                <br>{{ review.product }}
                <br>
                {% endfor %}
            </div>
            <div id="tab_04" class="tabs__block">
                {% for videos in product.prodvideos.all %}
                <iframe frameborder="0" height="360" width="640" src="https://www.youtube.com/embed/{{ videos.video }}">
                </iframe>
                {% endfor %}
            </div>

        </div>
    </div>

</div>

<div>
<!--    Описание:-->
<!--{{ product.description|safe }}-->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'shop/js/slick.min.js' %}"></script>
<script src="{% static 'shop/js/slick-script.js' %}"></script>
<script src="{% static 'shop/js/jquery.fancybox.min.js' %}"></script>
{% endblock %}