{% extends 'shop/base.html' %}

{% block content %}

<h2 align="center">{{ product.name }}</h2>
<div class="product-page-topblock">
    <div class="product_page_img">
    {% for img in product.prodimg.all %}
    <img class="" src="{{ img.image.url }}" alt="продукт">
    {% endfor %}
    </div>

    <div class="product_page_short_description_price">
        <p align="center">{{ product.short_description}}</p>
        <p>Цена: {{ product.price }} руб.</p>
			<form action="/contacts/">
			<input type="submit" value="Заказать">
			</form>
    </div>
</div>
<div class="content">
    <div class="tabs">
        <nav class="tabs__items">
            <a href="#tab_01" class="tabs__item"><span>ХАРАКТЕРИСТИКИ</span></a>
            <a href="#tab_02" class="tabs__item"><span>ОПИСАНИЕ</span></a>
            <a href="#tab_03" class="tabs__item"><span>ОТЗЫВЫ</span></a>
            <a href="#tab_04" class="tabs__item"><span>ВИДЕО</span></a>
        </nav>
        <div class="tabs__body">
            <div id="tab_01" class="tabs__block">
                    Характеристики:
                <br> Производитель: {{ product.manufacturer }}
                <br> Длинна см: {{ product.length }}
                <br> Ширина см: {{ product.width }}
            </div>
            <div id="tab_02" class="tabs__block">
                {{ product.description|safe }}
            </div>
            <div id="tab_03" class="tabs__block">
                {% for review in product.prodreviews.all %}
                <br>{{ review.name }}
                <br>{{ review.text }}
                <br>{{ review.product }}
                <br>
                {% endfor %}
            </div>
            <div id="tab_04" class="tabs__block">
                {% for videos in product.prodvideos.all %}
                <iframe frameborder="0" height="360" width="640" src="https://www.youtube.com/embed/{{ videos.video }}">
                </iframe>
                {% endfor %}
            </div>

        </div>
    </div>

</div>

<div>
<!--    Описание:-->
<!--{{ product.description|safe }}-->
</div>

{% endblock %}