{% extends 'shop/base.html' %}
{% load static %}

{% block content %}


<div class="product-page-topblock">
    <h2 align="center" >{{ product.name }}</h2>
    <div class="flex__column">
        <div class="slider">
                {% for img in product.prodimg.all %}
            <div class="slider__item">
                <a data-fancybox="gallery" href="{{ img.image.url }}" ><img class="img-slider" src="{{ img.image.url }}" alt="продукт"/></a>

            </div>
                {% endfor %}
        </div>

            <div class="slider-nav">
                {% for img in product.prodimg.all %}
                <img class="img-slider-nav" src="{{ img.image.url }}" alt="продукт">
                {% endfor %}
            </div>
        <center>
        <div class="price-product-lodki"><p>Цена: <font size="5">{{ product.price }}</font> руб.</p></div>
        <div class="price-product-lodki">
            <form action="/contacts/">
            <input class="button-search" type="submit" value="Заказать">
            </form>
        </div>
        </center>
    </div>

    <div class="product_page_short_description_price">
        <p align="center">{{ product.short_description}}</p>
<!--        <h3>Осн характеристики:</h3>-->
<!--                <div class="text-characteristics-name">Технические характеристики:</div>-->
                <div class="text-characteristics-name">Производитель:................................................................................................</div>
				<div class="text-characteristics">{{ product.manufacturer }}</div>
    </div>
</div>

<div class="nav-product-menu">
    <div class="tabs">
        <nav class="tabs__items">
            <a href="#tab_01" class="tabs__item"><span>ОПИСАНИЕ</span></a>
            <a href="#tab_02" class="tabs__item"><span>АКСЕССУАРЫ</span></a>
            <a href="#tab_03" class="tabs__item"><span>ВИДЕО</span></a>
            <a href="#tab_04" class="tabs__item"><span>ОТЗЫВЫ</span></a>
        </nav>
        <div class="tabs__body">
            <div id="tab_01" class="tabs__block">
                {{ product.description|safe }}
            </div>
            <div id="tab_02" class="tabs__block">
                <h3>Аксессуары</h3>


            </div>

            <div id="tab_03" class="tabs__block">
                <h3>Видео с лодкой</h3>
                {% for videos in product.prodvideos.all %}
                <iframe frameborder="0" height="360" width="640" src="https://www.youtube.com/embed/{{ videos.video }}">
                </iframe>
                {% endfor %}
            </div>

            <div id="tab_04" class="tabs__block">
                <h3>Отзывы</h3>
                {% for review in product.prodreviews.all %}
                <br>{{ review.name }}
                <br>{{ review.text }}
                <br>{{ review.product }}
                <br>
                {% endfor %}
            </div>


        </div>
    </div>

</div>

<div>
<!--    Описание:-->
<!--{{ product.description|safe }}-->
</div>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'shop/js/slick.min.js' %}"></script>
<script src="{% static 'shop/js/slick-script.js' %}"></script>
<script src="{% static 'shop/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'shop/js/product-nav.js' %}"></script>
{% endblock %}