@import 'search-menu.css';
@import 'slick-slider-product-style.css';
body{
 background-image: url("../img/ep_naturalwhite.png");
}
h1{
font-family: Cuprum, Arial, Helvetica, sans-serif;
}
h2{
font-family: Cuprum, Arial, Helvetica, sans-serif;
}
h3{
font-family: Cuprum, Arial, Helvetica, sans-serif;
}
a {
font-family: Cuprum, Arial, Helvetica, sans-serif;
color: #008000; /* Цвет обычной ссылки */
text-decoration: none; /* Убираем подчеркивание у ссылок */
}
a:visited {
color: #800080; /* Цвет посещённой ссылки */
}
a:hover {
color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */
text-decoration: underline; /* Добавляем подчеркивание */
}
.famaly{
display: none
}
header{
 margin-top: 50px;
 font-family: Cuprum, Arial, Helvetica, sans-serif;
}
.dws-menu *{
 margin: 0;
 padding: 0;
}
.dws-menu ul{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: center;
}
.dws-menu > ul li{
 position: relative;
 border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li:first-child{
 border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
 border-right: 1px solid #babbbd;
}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
.dws-menu > ul li a{
 display: block;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
 background: rgb(201,201,201); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

 padding: 18px 30px 18px;
 font-size: 14px;
 color: #454547;
 text-decoration: none;
 text-transform:uppercase;
 list-style-type: none;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
 background: rgb(224,225,229); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */

 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}


/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e4e4e5;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}

.block-results {
margin-left: 240px;
min-width: 650px;
background: white;
 }

.product-display{
display: block;
width: 250px;
height: 300px;

}


.product-display-lodki{
vertical-align:top;
margin: 4px 4px 4px 4px;
padding: 5 5 5 5px;
display: inline-block;
background:#f1f1f1;
border:1px solid silver;
border-radius: 15px;
min-height: 400px;
width: 300px;
}
.prod-display-lodki-inside-img{
display: inline-block;
width: 280px;
}

.product-display-img{
width: 100%;
height: 100%;
object-fit: fill;
}
.prod-display-lodki-inside-text{
display: inline-block;
min-width: 150px;
min-height: 150px;
}
/*.cart_product{
} */
.cart_product summary {
  display: block;  /* у summary по умолчанию свойство display в значении list-item, потому поддерживается свойство list-style */
  width: 10em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;  /* блок раскрывается при щелчке по кнопке, а не по всей строке */
  border-bottom: 1px dotted;  /* подводка точками или тире часто используется для элементов, с которыми пользователю предлагается взаимодействовать, можно заменить на text-decoration */
  outline-style: none;  /* удалить обводку при фокусе */
  cursor: pointer;
}
.cart_product summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}
.product-lodki-text1{
width: 280px;
}
.text-characteristics-name-tochki{
display: inline-block;
border:2px solid silver;
width: 350px;
overflow: hidden;
}
.text-characteristics-name{
display: inline-block;
height: 15px;
width: 220px;
white-space: nowrap;
overflow: hidden;
font-family: Cuprum, Arial, Helvetica, sans-serif;
}
.text-characteristics{
display: inline;
font-family: Cuprum, Arial, Helvetica, sans-serif;
}

.prod-display-lodki-inside-price{
display: inline-block;
min-height: 40px;
min-width: 30px;
font-family: Cuprum, Arial, Helvetica, sans-serif;
}

.cat-tags-block{
padding: 20px 20px;
display: block;
}

.cat-tag{
padding: 5px 10px;
display: inline;
background-color: #EEDDFF;
border:2px solid silver; width: 10%;
border-radius: 10px;
}
.cat-urls-list{
padding: 1px 1px;
display: inline;

}

.form_contact{
width: 680px;
height: 600px;
margin-left: auto;
margin-right: auto;
border:2px solid silver;

}
/* product page */
.product-page-topblock{
width: 850px;
min-height: 430px;
margin-left: auto;
margin-right: auto;
background-color: #ffffff;
}
.price-product-lodki{
display: inline-block;
}
.product_page_short_description_price{
display: inline-block;
width: 420px;
height: 250px;

}

.content{
max-width:1000px;
margin: 0px auto;
}
.tabs{
margin: 0px 0px 50px 0px;
}
.tabs__items{
display: flex;
}
.tabs__item{
flex: 0 1 25%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background-color: #f5f5f5;
border: 1px #f5f5f5 solid;


}
.tabs__item span {
position: relative;
z-index: 2;
}
.tabs__body {
}
.tabs__block {
position: relative;
padding: 20px;
font-size: 18px;
line-height: 24px;
display: none;
}
.tabs__block:target {
display: block;
}
.tabs__block:before {
content: "";
height: 50px;
width: 25%;
position: absolute;
top: -50px;
}
.tabs__block:nth-child(1){
background-color: #ffffff;
}
.tabs__block:nth-child(1):before{
background-color: #ffffff;
left: 0;
}
.tabs__block:nth-child(2){
background-color: #ffffff;
}
.tabs__block:nth-child(2):before{
background-color: #ffffff;
left: 25%;
}
.tabs__block:nth-child(3){
background-color: #ffffff;
}
.tabs__block:nth-child(3):before{
background-color: #ffffff;
right: 25%;
}
.tabs__block:nth-child(4){
background-color: #ffffff;
}
.tabs__block:nth-child(4):before{
background-color: #ffffff;
right: 0%;
}

.button-search {
    background-color: #7FFFD4; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.button-search:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.menu-details {
    padding: 8px;
    background-color: #eee;
    color: #333;
    border: 1px #ccc solid;
    border-radius: 12px;
    cursor: pointer;

    list-style-type: disc;  /* задаем маркер*/
}